@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@500;700&display=swap');

@font-face {
  font-family: 'Satoshi Variable';
  src: url('./Satoshi-Variable.ttf') format('truetype');
  font-style: normal;
}