/* HEADING */

@mixin heading-large {
  font-family: Lexend;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
}

@mixin heading-medium {
  font-family: Lexend;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
}
@mixin heading-small {
  font-family: Lexend;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.8px;
}

/* BODY */

@mixin body-regular {
  font-family: Satoshi Variable;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin body-bold {
  font-family: Satoshi Variable;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

/* ACTION */

@mixin action-large {
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.64px;
}

@mixin action-medium {
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.56px;
}

@mixin action-small {
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.48px;
}

/* CAPTION */

@mixin caption-regular {
  font-family: Satoshi Variable;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin caption-bold {
  font-family: Satoshi Variable;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

/* INPUT */

@mixin input-label {
  font-family: Satoshi Variable;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1px;
}

/* BRAND */

@mixin brand-large {
  font-family: Anton;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

 @mixin brand-medium {
  font-family: Anton;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

@mixin brand-small {
  font-family: Anton;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}