.ht-c-skeleton {
  border-radius: 5px;
	background: rgba($grey-40, 0.3);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(8%, rgba($grey-40, 0.2)),
		color-stop(18%, rgba($grey-40, 0.3)),
		color-stop(33%, rgba($grey-40, 0.2))
	);
	background: linear-gradient(
		to right,
		rgba($grey-40, 0.2) 8%,
		rgba($grey-40, 0.3) 18%,
		rgba($grey-40, 0.2) 33%
	);
	background-size: 800px 100px;
	animation: wave 2s infinite ease-out;
  height: 260px;
}
@keyframes wave {
	0% {
		background-position: -400px 0;
	}
	100% {
		background-position: 400px 0;
	}
}